*{
  color: whitesmoke;
}
#root{
  min-height: 45.1rem;
  background-color: darkslategray;
}

.mainContainer{
  /* display: flex; */
  padding-bottom: 2rem;
  margin: 0 3rem;
}

.mainContainer-information{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: center; */
}

/* .separator{
  color: whitesmoke;
  text-align: center;
} */

.btn-previous{
  height: 25rem;
  width: 5.5rem;
  border-radius: 5px;
  margin: 2rem;
  padding-bottom: 0.2rem;
  background-color: paleturquoise;
}
.btn-next{ 
  height: 25rem;
  width: 5.5rem;
  border-radius: 5px;
  margin: 0rem 2rem;
  padding-bottom: 0.2rem;
  background-color: paleturquoise;
}

/* .movies-information{
  width: 70%;
} */

.subcontainer{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 2rem 2rem;
  margin: 2rem 0;
  height: 700px;
  width: 400px;

  
}

.mainTitle{
  color: antiquewhite;
  text-align: center;
  margin: 2rem 0;
}

.subcontainer-information{
  text-align: center;
}
.subcontainer-information span{
  font-weight: 650;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-decoration: underline;
}
.subcontainer2-information span{
  font-weight: 650;
  margin-right: 0.5rem;
  text-decoration: underline;
}
.img-movie{
  height: 300px;
  /* width: 133.32px; */
}