#root{
  min-height: 45.1rem;
  background-color: darkslategray;
}

.mainContainer{
  padding-bottom: 2rem;
  margin: 0 3rem;
}

.mainContainer-information{
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator{
  color: whitesmoke;
  text-align: center;
}

.btn-previous{
  height: 25rem;
  width: 5.5rem;
  border-radius: 5px;
  margin: 2rem;
  padding-bottom: 0.2rem;
  background-color: paleturquoise;
}
.btn-next{ 
  height: 25rem;
  width: 5.5rem;
  border-radius: 5px;
  margin: 0rem 2rem;
  padding-bottom: 0.2rem;
  background-color: paleturquoise;
}

.movies-information{
  width: 70%;
}

.subcontainer{
  display: flex;
  padding: 2rem 2rem;
  margin: 2rem 0;
  border: solid 2px black;
  background-color: rgb(184, 180, 180);
}

.mainTitle{
  color: antiquewhite;
  text-align: center;
  margin: 2rem 0;
}

.subcontainer-information{
  margin: 1rem;
}
.subcontainer-information span{
  font-weight: 650;
  margin-right: 0.5rem;
  text-decoration: underline;
}