#root{
  background-color: darkslategray;
}

.mainContainer{
  padding-bottom: 2rem;
}
.container{
  display: flex;
  padding: 2rem 0;
  margin: 2rem 0;
  border: solid 2px black;
  background-color: rgb(184, 180, 180);
}

.mainTitle{
  color: antiquewhite;
  text-align: center;
  margin: 2rem 0;
}

.information{
  margin: 1rem;
}
.information span{
  font-weight: 650;
  margin-right: 0.5rem;
  text-decoration: underline;
}